body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}

/* MOBILE WARNING */

#mobileSupport {
    width: 100vw;
    height: 100vh;
    z-index: 100000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#mobileSupport h1 {
    font-size: 2vh;
}

/* LOADING SCREEN */

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000000;
    display: grid;
    text-align: center;
    background-color: black;
    
}

#loadingHolder {
    align-self: center;
    justify-self: center;
}

#loadingTitle {
    font-size: 2vw;
    color: white;
}


/* MENU */

#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 4vw;
    text-align: center;
    pointer-events: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    /* background-color: #262626; */
}

#container{
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    background-color: black;
    color: white;
    font-size: 1vw;
    pointer-events: all;
    /* border-radius: 25px; */
    max-height: 90vh;
    max-width: 50vw;
    overflow: hidden;
    display: flex;
    /* justify-content: left;
    align-items: center; */
    flex-direction: column;
}


h1, h2{
    text-transform: uppercase;
}

#title {
    font-size: 1vw;
    font-family: monospace;
}

#name {
    max-width: 40vw;
}

#about {
    font-family: monospace;
    font-size: 1.25vw;
}

#helpDiv {
    position: absolute;
    bottom: 0vh;
    text-align: center;
    width: 100%;
    pointer-events: none;
    z-index: 6;
}

#helpText {
    position: relative;
    color: white;
}

/* CANVAS */

#mainCanvas {
    width: 100vw;
    height: 100vh;
}

/* CURSOR */

#cursorContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#cursor {
    position: absolute;
    width: 1vw;
    height: 1vw;
}

/* MINI MAP */

#miniMapContainer {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}

#miniMap {
    background: #FFF;
    float: right;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1vw 0vw 0vw 0vw;
}

#mapText {
    font-family: monospace;
    font-weight: 800;
    margin: 0;
    font-size: 0.75vw;
}

#copyright {
    font-size: 0.8vw;
    margin: 0;
}

/* Hints PopUp */

#hintsHolder {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;
    top: 0;
}

#hintsPopup {
    background: black;
    opacity: 0;
    transition: opacity 0.5s;
}

#hintsText {
    color: white;
    font-size: 1.25vw;
    margin: 1vw;
}